
@import org.webjars.play.WebJarsUtil
@import org.pac4j.core.profile.CommonProfile

@(title: String, loginFormUrl: String, profiles: Seq[CommonProfile], csrfToken: String, sessionId: String)(implicit request: RequestHeader, webjars: WebJarsUtil)

    @main(title, loginFormUrl, profiles, csrfToken, sessionId) {
        <div class="container">
            <h3 class="site-title">Restricted Content</h3>
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Panel Content</h4>
                                <p>You must have logged into this page</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Panel Content</h4>
                            <p>Landing content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

